<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">


  <title>Amazane</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper cyan lighten-2">
      <a href='/' class="brand-logo">Amazane</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Shop</a></li>
        {{#if login}}
        <li><a href="/profile">{{globalUsername}}</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        {{else}}
        <li><a href="/auth/google">Login with <i class="fab fa-google"></i>oogle+</a></li>
        {{/if}}
        <li><a href='/cart'><i class="fas fa-shopping-cart"></i></a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Shop</a></li>
        {{#if login}}
        <li><a href="/profile">{{globalUsername}}</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        {{else}}
        <li><a href="/auth/google">Login with <i class="fab fa-google"></i>oogle+</a></li>
        {{/if}}
        <li><a href='/cart'>Cart</a></li>
  </ul>

  {{{body}}}

  <footer class="page-footer pink lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Project Amazane</h5>
          <p class="grey-text text-lighten-4">Simple Web shop made with <i class="fab fa-node-js fa-1x"></i> Node.js,
            Express, and MySQL</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">About us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2020 UCLA Bootcamp Full Stack Flex
        <a class="grey-text text-lighten-4 right" target="_blank" href="https://bootcamp.uclaextension.edu/coding/">Link
          to Bootcamp</a>
      </div>
    </div>
  </footer>
  <script src="/js/script.js"></script>
</body>

</html>