<h1>Profile Page</h1>

<div class="container">
    <ul>
        <li id="first">First Name: {{user.first_name}}</li>
        <li id="last">Last Name: {{user.last_name}}</li>
        <li id="username">Nickname: {{user.nickname}}</li>
        <li id="email">email: {{user.email}}</li>
        <li id="address">Address: {{user.address}}</li>
        <li id="city">City: {{user.city}}</li>
        <li id="state">State: {{user.state}}</li>
    </ul>
</div>

